.App {
  background-color: #ccc5c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5rem;
}


.piece {
  margin: 5rem auto;
  width: 40%;
  font-size: 1.5rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  
}

.piece-header {
  background-color: rgb(22, 49, 168);
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

}

.piece h3{
  font-size: 2rem;
 
}

.piece p{
  font-size: 1rem;
  padding-top: .5rem;
}

.like-section {
  width: 15rem;
  margin-top: .3rem;
  display: flex;
  justify-content: space-around;
}

.like-section-wrapper {
  padding: .5rem;
  flex-basis: 35%;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.piece .content {
  margin: 1rem auto;
  width: 90%;
  font-size: 1.7rem;
  font-weight: bolder;
}

.piece-buttons {
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}


/*Comments*/

.comments-button {
  cursor: pointer;
}

.comments{
  display: none;
}

.show {
  display: inline;
}

.hide {
  display: none;
}

.form h2{
  font-size: 3rem;
  margin: 5rem 0 1rem 0;
}


form {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 10rem 0;
}

.title {
  border-top: none;
  border-right: none;
  border-left: none;
}

textarea {
  margin: 10rem 0;
}

