.App {
  background-color: #CCC5C5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Menu*/
.menu {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: .8rem;
  -webkit-box-shadow: 0px 5px 5px 0px rgb(22, 49, 168);
  -moz-box-shadow: 0px 5px 5px 0px rgb(22, 49, 168);
  box-shadow: 0px 5px 5px 0px rgb(22, 49, 168);
}

nav {
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: #CCC5C5;
}

.menu-link {
  color:  rgb(22, 49, 168);
  text-decoration: none;
}





/*Piece*/

.piece {
  margin: 5rem auto;
  width: 40%;
  font-size: 1.5rem;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  
}

.piece-header {
  background-color: rgb(22, 49, 168);
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

}

.piece h3{
  font-size: 2rem;
  color: #FFFFFF;
 
}

.piece p{
  font-size: 1.5rem;
  padding-top: .5rem;
}

.like-section {
  width: 5rem;
  margin-left: 2rem;
  padding: .5rem;
  display: flex;
  justify-content: space-around;
}


.piece .content {
  margin: 1rem auto;
  width: 90%;
  font-size: 1.7rem;
  font-weight: bolder;
}

.content-actions {
  display: flex;
  justify-content: flex-end;
}
.bottom-actions {
  display: flex;
  justify-content: space-between;
}

.edit {
  margin-left: 3rem;
}

.piece-buttons {
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

/*Comments*/

.comments-button {
  margin-right: 2rem;

  cursor: pointer;
}

.comments{
  display: none;
}

.show {
  display: inline;
}

.hide {
  display: none;
}

.form h2{
  font-size: 3rem;
  margin: 5rem 0 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 10rem 0;
}

.title {
  border-top: none;
  border-right: none;
  border-left: none;
  
}


textarea {
  margin: 10rem 0;
}

/*Header*/
.header {
  width: 100%;
  background-color: rgb(22, 49, 168);
  color: #CCC5C5;
  margin-bottom: 2rem;
}

.header h1{
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.sub-info {
  margin: 0 auto;
  width: 90%;
  display:flex;
  justify-content: space-between;
  padding: 2rem;
}

.sub {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

.sub-icon {
  font-size: 5rem;
  align-self: center;
  margin-bottom: 2rem;

}

.sub p {
  font-size: 2rem;
}

/*Add Piece */

.add-piece-page {
  width: 100%;
  padding: 5rem;
  padding-top: .8rem;
}
.add-piece-sub {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

.add-piece-sub-icon {
  font-size: 5rem;
  align-self: center;
  margin-bottom: 2rem;

}

.add-piece-sub p {
  font-size: 2rem;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 80%;
}